html,
body {
  margin: 0;
  padding: 0;
}
body {
  font: 90% calibri, sans-serif;
  text-align: center;
}
#header {
  background-color: darkgray;
}
#header h1 {
  height: 80px;
  line-height: 80px;
  margin: 0;
  padding-left: 10px;
}
#container {
  height: auto;
  width: 700px;
  margin: 0 auto;
  text-align: left;
}
#wrapper {
  float: right;
  width: 500px;
}
#navi {
  float: left;
  height: 500px;
  width: 200px;
  background-color: #bf9393;
}
#navi ul {
  margin-left: 10px;
  list-style-type: none;
}
#navi li {
  margin-bottom: 5px;
}
#footer {
  clear: both;
  width: 100%;
  background-color: #bfbd93;
}
#footer p {
  margin: 0;
  padding: 5px 10px;
}
a {
  padding: 5px;
  text-decoration: none;
  color: #000;
}
a:hover {
  color: green;
}
p {
  margin: 0 10px 10px;
}
.heading {
  text-align: center;
}
.center {
  height: auto;
  width: 300px;
  margin-left: 100px;
}
label,
input,
button,
select,
textarea {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}
input,
select,
textarea {
  width: 100%;
}
.error {
  color: red;
  text-align: center;
}
.success {
  color: green;
  text-align: center;
}
